@import "../Vars.scss";
@import "../Functions.scss";
@import "../Mixins.scss";
.maskpokeball {
  position: absolute;
  bottom: 0;
  right: 0;
}
.poke-card {
  position: relative;
  background-color: gray;
  border-radius: rem(16);
  height: rem(194);
  padding: rem(13);
  box-shadow: 0 rem(4) rem(4) rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-top: 2rem;
  @include desktop() {
    width: rem(301);
  }
  &__number {
    font-size: rem(20);
    font-weight: bold;
  }
  &__name {
    font-size: rem(20);
    font-weight: bold;
    color: white;
  }
  &__type {
    color: white;
    font-weight: 600;
    width: rem(80);
    height: rem(26);
    font-size: rem(15);
    margin-bottom: rem(6);
    border-radius: rem(100);
  }
}
